.image_slider{
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;

	
}

.slider_container{
	height: 100%;
	position: relative;
}

.dot_container{
	display: flex;
	justify-content: center;
}

.dot_styles{
	cursor: pointer;
	font-size: 2rem;
}

.slidesContainerTransition{
	display: flex;
	height: 100%;
	transition: ease-out 0.3s;
}

.slidesContainerOverFlow{
	overflow: hidden;
	height: 100%;
}