.slide_item {
	min-height: 32rem;
	min-width: 22rem;
	padding: 40px;
}
.slide_item img {
	height: 100%;
	width: 100%;
	pointer-events: none;

}

.inner_carousel{
	display: flex;
	width: 27rem;
}

.container{
	overflow: hidden;
	cursor: grab;
}