.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn {
	margin-top: -2rem;
	color: #696969;
	font-size: 0.75rem;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	letter-spacing: 0.09rem;
	padding-bottom: 2.5rem;
	text-decoration: none;
}
